.certifications-container{
    max-height: 97vh;
    height: 100%;
    background-color: var(--primary-color);
    max-width: 58vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}