.content-component{
    display: flex;
    flex-direction: column;
    width: 74vw;
    margin-left: var(--margin-10p);
    margin-top: var(--margin-20p);
    box-shadow: 0 4px 12px 0 var(--border-color);
}

.pages-component {
    
    display: flex;
    flex-direction: row;
    border: solid var(--text-color);
    border-radius: var(--margin-10p);
    width:98vw;
    height: 97vh;
    
   
}
.profile-certifications{
height: 100%;
width: 30vw;

}
.certifications-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    width:72vw;
    height: 82vh;

}
.next-prev{
    width: 2vw;
    height: 4vh;
    box-shadow: 0 8px 12px 0 var(--border-color);
    align-self: center;

}

