
.global-container{
  width: 99vw;         
  height: 96vh;        
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;     
  background-color: var(--text-color);
  gap: 0.25em;              
  padding: 0,25em;
  box-sizing: border-box;
    
}

.projects-container{
     width: 85vw;           
  height: 92vh;
  margin-top: 1.2em;
  border: solid var(--border-color);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row-container{
    background-color: var(--primary-color);
    margin: var(--margin-20p) var(--margin-20p) var(--margin-20p) var(--margin-20p);
    display: flex;
    flex-direction: row;
}