.global-container{
    max-height: 97vh;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    max-width: 99vw;
    width: 100%;
    
}
.projects-container{
    display: flex;
    flex-direction: column;
    width: 98vw;
    max-height: 95vw;
    height: 100%;
    margin-top: var(--margin-20p);
    border: solid var(--text-color);
    border-radius: var(--margin-10p);
}

.row-container{
    display: flex;
    flex-direction: row;
}