ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: yellow;
  color: black;
}
.active_link{
    background-color: #04AA6D;
}

.icons {
  width: 18px;  /* Adjust size */
  height: 18px;
  filter: grayscale(100%); /* Apply effects */
  transition: transform 0.3s ease-in-out; /* Smooth animation */
filter: invert(50%);
}


.icons:hover {
filter: invert(100%);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

.icons {
  width: 20px; /* Adjust icon size */
  height: 20x;
}
