#root {
    width: 100%; 
    max-width: 1800px; /* Don't get wider than 1200px */
    margin: 0 auto; /* Center it */
    height: 87vh;
    margin: 0;
  padding: 0;
  min-height: 80vh;
}
@media (max-width: 600px) {
    #root {
        flex-direction: column; /* Stack cards vertically on small screens */
        align-items: center; /* Center them when stacked */
    }
}