.right_nav{
    background-color: black;
    width: 16em;
    margin-top: 0px;
    display: flex;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  float: left;
}

li {
/* Centers vertically */
display: flex;
  margin-top: 3px;
  margin-left: 7px;
}


li a {
  display: flex;  /* Flex to allow vertical centering */
  justify-content: center; 
  align-items: center;
  height: 100%;  /* Make the <a> cover the full height */
  width: 100%;  /* Ensure full width */
  color: white;
  text-decoration: none;
}


li a:hover {
  background-color: yellow;
  color: black;
}
li a:hover img {
  filter: brightness(0) saturate(100%);
}


li a:active {
 background-color: yellow;
 color: black;
}