.footer{
    display: flex;
    align-items: center;
    margin-top: 1vh;
    height: 1.5em;
}
.footer ul, .footer li {
  list-style: none; /* Ensures no bullet points */
}

.footer li a{
  display: flex;  /* Flex to allow vertical centering */
  justify-content: center; 
  align-items: center;
  height: 100%;  /* Make the <a> cover the full height */
  width: 100%;  /* Ensure full width */
  color: black;
  text-decoration: none;
}
.footer img {
    height: 25px;
    list-style-type: none;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  float: left;
}
.footer li{
padding-left:20px;
padding-right: 20px;
}

.footer a:hover{
    background-color: yellow;
    color:black;
}

.footer li a:hover img {
  filter: brightness(0) saturate(100%);
}